
/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0px;
    padding: 0px;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }

  header ul {
    list-style: none;
    justify-content: space-around;
    display: flex
  }

  header ul a {
      color: white;
      text-decoration: none;
      font-weight: 700;
  }
  
  h1 {
      color: white;
      font-size: 26px;
      font-weight: 900;
  }
  
  h2 {
      color: white;
      font-size: 30px;
      line-height: 40px;
      font-weight: 700;
  }

  h3 {}
  
  p {
    color: white;
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
}
  input[type=email] {
      width: 335px;
      height: 60px;
      border-radius: 20px;
      border: 1px solid;
      color: white;
      font-size: 17px;
      font-family: 'Roboto';
      font-weight: 700;
      padding: 25px 20px;
      background-color: #FFFFFF;
      box-shadow: inset 0 1px 5px 0 rgba(0,0,0,0.15);
  }
  
  button {
      width: 168px;
      height: 60px;
      border-radius: 20px;
      color: white;
      font-family: 'Roboto';
      font-size: 20px;
      font-weight: 700;
      background: #9BDBE7;
      margin: 20px 83px;
  }


  /* ---- layout ---- */

  body {
      background-color: white;
      text-align: center;
  }
  header {
    text-align: center;
    background-color: #F8765E;
    padding: 25px 51px 60px;
  }
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    margin: 0 20px;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  }

  .intro img {
      max-width: 100%;
  }

  .intro {
      background-color: #F8765E;
      padding: 25px 30px 80px;
  }

  #articulos div {
    border-radius: 20px;	
    background-color: #FFFFFF;	
    box-shadow: 0 10px 34px 0 rgba(210,210,210,0.5);
    margin: 25px 20px;
    margin-top: -60px;
    height: 1700px;
    text-align: left;
  }

  #articulos div p {
      color: #5B6C94;
      font-size: 16px;	
      font-weight: 500;	
      line-height: 32px;
      margin: 20px;
  }

  #articulos div h3 {
      margin: 20px;
      border-bottom: 5px solid #F8765E;
      display: inline-block;
      color: #031D5B;

  }
  #articulos div img {
      margin: 60px;
  }

  #better img {
    height: 359px;	
    width: 179.76px;
    margin: 100px auto 70px;
  }

  #better h2 {
    color: #F8765E;		
    font-size: 30px;	
    font-weight: bold;	
    line-height: 40px;	
    text-align: center;
  }

  #better h3 {
    color: #031D5B;		
    font-size: 26px;	
    font-weight: 500;	
    line-height: 45px;	
    text-align: center;
  }

  #better p {
    color: #5B6C94;	font-family: Roboto;	
    font-size: 16px;	
    font-weight: 500;	
    line-height: 32px;	
    text-align: center;
    margin: 30px;
  }

  #better button {
      margin: 20px 83px 100px;
  }

  #final h2 {
    color: #F8765E;	
    font-family: Roboto;	
    font-size: 30px;	
    font-weight: bold;	
    line-height: 40px;	
    text-align: center;
  }

  #final h3 {
    color: #CDCDCD;	
    font-family: Roboto;	
    font-size: 26px;	
    font-weight: 500;	
    line-height: 45px;}
  }

  footer p {
      color: white;

  }

  footer ul {
    list-style: none;
    justify-content: space-around;
    display: flex
  }

  footer ul a {
        color: white;
        text-decoration: none;
        font-weight: 700;
  }

  footer {
    text-align: center;
    background-color: #F8765E;
    padding: 25px 51px 60px;
  }
  

  
  
  
  /* ---- components ---- */
  
  .button {
    width: 100%;
    background-color: blue;
    color: #fff;
    border: 1px solid #fff
  }
  
  .button-alt {
    color: blue;
    background-color: #fff;
  }
  
  /* ---- section ---- */
  
  section.testimonials {
    // ...
  }
  
  section.testimonials .button {
    margin-bottom: 10px;
  }